<h1> Login </h1>

<%= flash[:message] if flash[:message] %>

<%= form_for :customer do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email %>
    <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <p>

    <%= f.submit "Login" %>

<% end %>

<h4> OR </h4>

<%= button_to "Log In With Google", '/auth/google_oauth2' %>  
