<h1> Sign Up </h1>

<%= form_for(@customer, url:'/signup') do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <p>
    <%= f.submit "Sign Up" %>

<% end %>

