<h1> Schedule an Appointment </h1>

<%= form_for(@appointment) do |f| %>
    <%= f.label :hairdresser, "Hair Stylist" %>
    <%= f.collection_select :hairdresser_id, Hairdresser.all, :id, :name %>
    <p>
    <%= f.label :service, "Services" %>
    <%= f.collection_select :service_id, Service.all, :id, :name %>
    <p>
    <%= f.label :datetime %>
    <%= f.datetime_field :datetime %>
    <p>
    <%= f.submit "Schedule" %>


<%end%>

