<h1> Schedule an Appointment </h1>

<%= form_for(@appointment) do |f| %>
    <%= f.label :hairdresser %>
    <%= f.text_field :hairdresser %>
    <p>
    <%= f.label :datetime %>
    <%= f.datetime_field :datetime %>

<%end %>

