<h1> Appointment Confirmation </h1>


<p>Hi <%= @customer_appointment %></p>

Appointment confirmed with <%= @appointment.hairdresser.name %> on <%= @appointment.date_time.strftime("On %m/%d/%Y") if @appointment.date_time %> <%= @appointment.date_time.strftime("at %I:%M%p") if @appointment.date_time %></p>
<p> Please find the details below:

<h2> Confirmed Time: </h2>

 <p><%= @appointment.date_time.strftime("On %m/%d/%Y") if @appointment.date_time %> </p>
    <%= @appointment.date_time.strftime("at %I:%M%p") if @appointment.date_time %>

 <p> Cuts-4-Less </p>
 <p> 7840 Ogden Ave Ste 4 Lyons, IL 60534 </p>
 <p> (708) 447-7729 </p>

    <h3> Service <h3>
    <%= @appointment.service.name if @appointment.service %>
