<!DOCTYPE html>
<html>
  <head>
    <title>Cuts4Less</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= flash[:message] %>

    <div>
    <%= link_to "home", root_path %>
    <% if logged_in? %>
      <%= link_to "Schedule An Appointment", new_appointment_path %>|
      <%= link_to "Upcoming Appointments", customer_appointments_path(current_customer) %>|
      <%= button_to "Sign out", logout_path, method: :delete %>
      <%else%>
      <%= link_to "Sign Up", signup_path %> |
      <%= link_to "Log in", login_path %> 
      <%end%>
      <%= button_to "Log In With Google", '/auth/google_oauth2', method: :post %>      

    </div>

    <div>
      <% if flash[:message] %>
        <%= flash[:message]%>
      <%end%>

    </div>

    <%= yield %>
  </body>
</html>
